name: Continous integration

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      
      - name: Clean install
        run: npm i 
      
      - name: Build
        run: npm run build --if-present
      
      - name: Test
        run: npm test
      
